@import "tailwindcss";

@theme {
  --color-metra-blue: #007AFF; /* Azul Apple */
  --color-metra-green: #34C759; /* Verde Salud */
  --color-metra-dark: #1D1D1F; /* Negro Apple */
  --color-metra-slate: #F5F5F7; /* Gris Fondo */
}

@layer base {
  :root, body, #root {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    background-color: white;
  }

  body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: var(--color-metra-dark);
    -webkit-font-smoothing: antialiased;
  }

  /* Estilo para los títulos de impacto */
  .hero-text {
    @apply font-[900] tracking-[-0.04em] leading-[1.1];
  }
}